extends layout.pug
        
block content        
  table.branches
    thead
      tr
        td.branches__table-name(colspan= 3) Список веток
    tbody.branches__list
      -
      each branch in branches
        tr.branches__item.branch
          td.branch__default
            if branch.isDefault
              span.branch__default-mark *
          td.branch__name
            a.branch__link(href= branch.link)= branch.name
          td.branch__hash= branch.hash
  