html
  include ./blocks/head.pug
  +head({title})
  body
    include ./blocks/heading.pug
    include ./blocks/branchList.pug
    +heading()
    ul.breadcrumb
      li.breadcrumb__item
        a.breadcrumb__link(href='/') Home
      li.breadcrumb__item
        .breadcrumb__link= `Repo: ${repo}`
    h2 Список веток
    +branchList(branches, repo)
  