html
  include ./blocks/head.pug
  +head({title})
  body
    include ./blocks/heading.pug
    include ./blocks/commitList.pug
    +heading()
    h2 Commit history
    +commitList(repo, branch, commits)
  