extends layout.pug

block content        
  table.commits
    thead
      tr
        td.commits__table-name(colspan= 3) Список камитов
    tbody.commits__list
      -
      each commit in commits
        tr.commits__item.commit
          td.commit__hash
            a.commit__link(href= commit.link)= commit.hash
          td.commit__time= commit.time.format()
          td.commit__subject= commit.subject
            