extends layout.pug

block content        
  table.files
    thead.files__heading
      tr
        td(colspan=3).files__table-name Список файлов
    tbody.files__list
      each file in files
        tr.files__item
          if file.objType === 'tree'
            td.file__type.file__type--dir D
          else
            td.files__type.file__type--file F
          td
            a.file__link(href=file.link)= file.name
          td
            span.file__hash= file.hash