.commits td {
  padding: 4px 8px;
  font-weight: bold;
  border: 2px solid $color-gray-dark;
}

.commits__table-name {
  font-size: 20px;
  text-align: center;
}

.commit__link {
  color: $color-yellow;
  &:visited {
    color: $color-yellow;
  }
  &:hover {
    color: $color-gray-dark;
  }
}

.commit__hash {
  color: $color-yellow;
}
