.files td {
  padding: 4px 8px;
  font-weight: bold;
  border: 2px solid $color-gray-dark;
}

.files__table-name {
  font-size: 20px;
  text-align: center;
}

.file__link {
  color: $color-white;
  &:visited {
    color: $color-white;
  }
  &:hover {
    color: $color-gray-dark;
  }
}

.file__type--dir {
  color: $color-red;
}

.file__type--file {
  color: $color-green;
}

.file__hash {
  color: $color-yellow;
}
