mixin branchList(branches, repo)
  .branches
    ul.branches__list
      -
      each branch in branches
        li.branches__item.branch
          .branch__default
            if branch.isDefault
              .branch__default-mark *
          .branch__name
            a.branch__link(href= `/commits/${repo}/${branch.hash}`)= branch.name
          .branch__hash= branch.hash
            