mixin breadcrumbs(breadcrumbs)
  .breadcrumbs
    ul.breadcrumbs__list
      each bc in breadcrumbs
        li.breadcrumbs__item
          if bc.last
            a.breadcrumbs__link.breadcrumbs__link--inactive= bc.name
          else
            a.breadcrumbs__link(href=bc.link)= bc.name
