mixin fileList(files, repo, branch)
  .files
    ul.files__list
      -
      each file in files
        li.files__item.file
          .file__name
            if file.objType === 'tree'
              a.file__link(href=`/files/${repo}/${branch}/${file.hash}`)= file.name
              .file__type dir
            else
              a.file__link(href=`/file/${repo}/${file.hash}`)= file.name
              .file__type file
            .file__hash= file.hash
            